@charset "UTF-8";
/* CSS Document */
:root {
	--primary-clr: #98766C;
	--accent-clr: #9F8773;
	--background-clr: #F3EDE7;
	--sub-background-clr: #F8F2EC;
	--txt-clr: #383838;
	--sub-txt-clr: #777777;
	--border-clr: #E4DCD5;
	--alpha-text-clr: #34343480;
}

html {
	font-size: 62.5%;
}

body {
	position: relative;
	font-size: calc(1.4rem + (1vw - 0.96rem) * 0.2500);
	line-height: 1.5;
	font-family: 'Hiragino Kaku Gothic ProN', 'Meiryo', 'Osaka', 'MS PGothic', 'YuGothic', 'Arial','Helvetica Neue','Helvetica',sans-serif;
	letter-spacing: .03em;
	word-break: break-word;
	word-wrap: break-word;
	overflow-wrap: break-word;
	-webkit-text-size-adjust: 100%;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	background: #FFF;
	color: var(--txt-clr);
}

*, *::before, *::after {
	box-sizing: border-box;
}

/***************************
		loader
***************************/
.loader {
	position: fixed;
	display: flex;
	align-items: center;
	justify-content: center;
	width: 100%;
	height: 100%;
	z-index: 9999;
	background: var(--background-clr);
}

.loader__item,
.loader__item:after {
	border-radius: 50%;
	width: 10em;
	height: 10em;
}

.loader__item {
	margin: 60px auto;
	font-size: 10px;
	position: relative;
	text-indent: -9999em;
	border-top: 1.1em solid rgba(159, 135, 115, 0.3);
	border-right: 1.1em solid rgba(159, 135, 115, 0.3);
	border-bottom: 1.1em solid rgba(159, 135, 115, 0.3);
	border-left: 1.1em solid #ffffff;
	-webkit-transform: translateZ(0);
		-ms-transform: translateZ(0);
			transform: translateZ(0);
	-webkit-animation: loading 1.1s infinite linear;
			animation: loading 1.1s infinite linear;
}

/***************************
			text
***************************/
.text {
	font-size: calc(1.4rem + (1vw - 0.96rem) * 1.0000);
	font-weight: normal;
}

.primary-text {
	color: var(--primary-clr);
}

.strong-text {
	background:linear-gradient(transparent 60%, var(--border-clr) 60%);
}

.message {
	font-size: calc(1.8rem + (1vw - 0.96rem) * 0.2500);
	font-weight: bold;
}

.message[data-keyword] {
	padding-bottom: 24px;
}

.message[data-keyword]::before {
	display: block;
	margin: 32px 0 24px;
	font-weight: bold;
	line-height: 1;
}

.message[data-keyword]::before ,
.section__keyword,
.section__titile {
	font-size: calc(4.4rem + (1vw - 0.96rem) * 2.0000);
}

[data-label]::after {
	content:attr(data-label);
}

[data-keyword]::before {
	content:attr(data-keyword);
}

.hero__catch,
[data-nav]::before,
.top-scroll,
.section__keyword,
[data-keyword]::before,
[data-label]::after,
.section__titile,
.process__list::after,
.footer__copy {
	font-family: Avenir,Arial,sans-serif;
}

@media (max-width: 559px) {
	body,
	.text {
		font-size: 1.3rem;
	}
	
	.message {
		font-size: 1.7rem;
	}
	
	.message[data-keyword]::before,
	.section__keyword,
	.section__titile {
		font-size: 3.6rem;
	}
}

@media (min-width: 960px) {
	body,
	.text {
		font-size: 1.4rem;
	}
	
	.message {
		font-size: 1.8rem;
	}
	
	.message[data-keyword]::before,
	.section__keyword,
	.section__titile {
		font-size: 4.4rem;
	}
}

/***************************
		animation
***************************/
@keyframes loading {
	0% {
		-webkit-transform: rotate(0deg);
		transform: rotate(0deg);
	}
	100% {
		-webkit-transform: rotate(360deg);
		transform: rotate(360deg);
	}
}

@keyframes anim {
	0% {
		transform: translateY(0);
	}
	100% {
		transform: translateY(-18.2px);
	}
}

@keyframes anim-out {
	0% {
		transform: translateY(-18.2px);
	}
	100% {
		transform: translateY(0);
	}
}

@keyframes scroll {
	0% {
		bottom: 27px;
		height: 0
	}
	60% {
		bottom: 7px;
		height: 20px
	}
	90% {
		bottom: 7px;
		height: 0
	}
	100% {
		bottom: 7px;
		height: 0
	}
}

@keyframes filter {
	0% {
		filter: grayscale(90%) blur(2px) opacity(40%);
		transform: scale(.7) translate(0%, 0%);
	}
	100% {
		filter: grayscale(0) blur(0) opacity(100%);
		transform: scale(1) translate(0%, 0%);
	}
}

/***************************
		header
***************************/
.header__inner {
	position: fixed;
	width: 100%;
	z-index: 999;
	margin: 0 auto;
	max-width: 2560px;
	padding: 16px 120px;
}

.header__content {
	position: relative;
	display: flex;
	height: 60px;
	align-items: center;
	border-radius: 50px;
	background: var(--sub-background-clr);
	box-shadow: 9px 9px 16px rgb(226, 219, 212);
}

.header__content::before {
	content: "";
	display: block;
	position: absolute;
	top: 0;
	left: 0;
	bottom: 0;
	z-index: -1;
	border-radius: 50px;
	right: 0;
	box-shadow: -6px -6px 8px rgb(255, 255, 255);
}

.header__logo {
	padding: 0 16px;
	flex: 0 1 160px;
}

.header__logo-item {
	display: block;
}

.header__toggle {
	display: none;
	flex: 1 1 320px;
	padding: 0 24px;
	color: var(--accent-clr);
	font-size: 0;
	text-align: right;
	font-weight: bold;
}

.header__toggle label {
	display: inline-block;
}

.header__toggle label::after {
	font-size: 13px;
}

.nav {
	flex: 1 1 320px;
	padding: 0 16px;
	text-align: right;
}

.nav__item {
	display: inline-block;
}

.nav__link {
	display: block;
	min-width: 90px;
	height: 60px;
	padding: 20.9px 0;
	color: var(--accent-clr);
}

.nav__inner {
	position: relative;
	height: 18.2px;
	overflow: hidden;
	font-size: 13px;
	text-align: center;
	font-weight: bold;
	line-height: 18.2px;
}

.nav__inner::before,
.nav__title {
	display: block;
	width: 100%;
}

.nav__inner::before {
	content: attr(data-nav);
	text-transform: uppercase;
	animation: anim-out .5s ease forwards;
}

.nav__link:hover .nav__inner::before {
	animation: anim .5s ease-out forwards;
}

.nav__title {
	position: absolute;
	animation: anim-out .5s ease-out forwards;
}

.nav__link:hover .nav__title {
	animation: anim .5s ease-out forwards;
	color: var(--primary-clr);
}

.nav__toggle {
	display: none;
	position: absolute;
	top: 32px;
	right: 24px;
	padding: 8px;
	font-size: 0;
	line-height: 1;
	letter-spacing: normal;
}

.nav__toggle::before {
	content: "\e909";
	color: var(--sub-txt-clr);
	font-family: 'icon';
	font-size: 24px;
}

#navToggle {
	display: none;
}

@media (max-width: 959px) {
	.header__toggle {
		display: block;
	}
	
	.nav {
		position: fixed;
		top: 0;
		left: 0;
		flex: none;
		height: 100vh;
		width: 100%;
		background: #FFF;
		-webkit-transform: translateY(-100%);
				transform: translateY(-100%);
		-webkit-transition: all .4s ease;
				transition: all .4s ease;
	}
	
	.nav__content {
		display: flex;
		flex-flow: column;
		justify-content: center;
		align-items: center;
		height: 100%;
	}
	
	.nav__toggle {
		display: block;
	}
	
	.nav__inner {
		overflow: visible;
		height: 100%;
	}
	
	.nav__inner::before {
		width: 200px;
		opacity: .5;
		animation: none;
		transform: none;
	}
	
	.nav__title {
		width: 200px;
		margin-bottom: 16px;
		font-size: 18px;
		animation: none;
		transform: none;
	}

	.nav__link:hover .nav__inner::before {
		animation: none;
		transform: none;
	}

	.nav__link:hover .nav__title {
		animation: none;
		transform: none;
	}
	
	#navToggle:checked ~ .header .nav {
		-webkit-transform: translateY(0);
				transform: translateY(0);
	}
	
	#navToggle:checked ~  .nav .nav__toggle {
		display: block;
	}
}

@media (max-width: 559px) {
	.header__inner {
		padding: 24px 32px;
	}
}

/*************************************
**************************************
			main-contents
**************************************
*************************************/
.main-contents {
	overflow: hidden;
}
/***************************
			hero
***************************/
.hero {
	position: relative;
	height: 100vh;
	z-index: -1;
}

.hero__inner {
	position: fixed;
	width: 100%;
	height: 100%;
	overflow: hidden;
}

.hero__img {
	display: block;
	width: 100%;
	height: 100%;
	object-fit: contain;
	font-family: 'object-fit: contain;';
}

_:-ms-lang(x)::-ms-backdrop, .hero__img {
	width: auto;
	margin: auto;
}

.hero__img_filter {
	animation-name: filter;
	animation-duration: 2s;
	animation-play-state: running;
	animation-timing-function: ease-in;
	animation-delay: 0s;
	animation-iteration-count: 1;
}

.hero__catch {
	position: absolute;
	top: 50%;
	right: 0;
	left: 0;
	transform: translateY(0);
	text-align: center;
	font-size: 40px;
	font-weight: bold;
	opacity: 0.1;
	transition: all 1s;
}

.hero__img_filter + .hero__catch {
	opacity: 1;
	transform: translateY(-50%);
}

.top-scroll {
	position: relative;
	margin-top: -50px;
	width: 120px;
	height: 50px;
	z-index: 2;
	margin-right: 24px;
	margin-left: auto;
	transition: all .3s;
	color: var(--primary-clr);
	font-size: 12px;
	font-weight: 700;
	text-transform: uppercase;
	text-align: center;
	letter-spacing: 1px;
}

.top-scroll::before {
	position: absolute;
	bottom: 7px;
	left: 50%;
	width: 1px;
	height: 20px;
	content: '';
	animation-name: scroll;
	animation-duration: 1.8s;
	animation-play-state: running;
	animation-timing-function: linear;
	animation-delay: 0s;
	animation-iteration-count: infinite;
	background: var(--primary-clr);
}

/***************************
		section
***************************/
.section {
	position: relative;
	background: #FFF;
	padding: 5em 0 10em;
}

.section:nth-of-type(odd) {
	background: var(--background-clr);
}

.section::before,
.section__container::before {
	content: "";
}

.top-scroll + .section::before {
	position: absolute;
	display: block;
	left: 0;
	bottom: 100%;
	border-bottom: 10em solid var(--background-clr);
	border-left: 100vw solid transparent;
}

.section__container::before {
	display: block;
	border-top: 10em solid var(--background-clr);
	border-right: 100vw solid transparent;
}

.section__container {
	position: relative;
	background: #FFF;
	margin-top: -15em;
}

.section__container:last-of-type::after {
	content: "";
	display: block;
	border-bottom: 10em solid var(--background-clr);
	border-left: 100vw solid transparent;
}

.section__wrapper,
.section__inner,
.section > .section__label {
	max-width: 880px;
	margin: 0 auto;
}

.section__wrapper {
	padding: 0 32px;
}

.section__inner {
	position: relative;
	z-index: 1;
	padding: 40px 32px;
}

.section > .section__inner {
	padding-bottom: 0;
}

.section__inner::after,
.section__group::after {
	content: "";
	clear: both;
	display: block;
}

.section__group {
	padding: 24px 0;
	border-bottom: 2px solid var(--border-clr);
	
}

.section__group:last-of-type {
	border-bottom: none;
}

.section__card {
	position: relative;
	padding: 40px;
	border-radius: 1em;
	box-shadow: 9px 9px 16px rgb(226, 219, 212);
}

.section__card_liquid {
	background: #FFF;
	margin: 0 32px;
}

.section__card::before {
	content: "";
	display: block;
	position: absolute;
	top: 0;
	left: 0;
	bottom: 0;
	right: 0;
	z-index: -1;
	border-radius: 1em;
	box-shadow: -6px -6px 16px rgb(255, 255, 255);
}

.section:nth-of-type(even) .section__card::before {
	box-shadow: -9px -9px 16px rgb(244, 240, 237);
	z-index: 0;
}

.section__item {
	width: 60%;
	float: left;
	padding-right: 24px;
}

.section__figure {
	position: relative;
	width: 40%;
	float: right;
	overflow: hidden;
	margin-bottom: 1em;
	margin-right: -1em;
}

.section__figure img {
	width: 100%;
	padding: 1em 1em 1em 3em;
	filter: drop-shadow(0 3px 5px rgb(226, 219, 212));
}

.section__figure_mockup {
	padding-top: 50%;
}

.section__figure_mockup img {
	position: absolute;
	top: 0;
	right: 0;
	left: 0;
}

.section__label {
	display: inline-block;
	padding: 4px 0;
	border-bottom: 1px solid;
	color: var(--accent-clr);
	font-weight: bold;
	font-size: 0;
}

.section__label::after {
	font-size: 16px;
	text-transform: uppercase;
	font-weight: normal;
}

.section__titile {
	margin: 40px 0 32px;
}

.section__titile img {
	width: 8em;
}

.section__description {
	margin: 32px 0 56px;
	font-size: 16px;
}

.section__item .section__description {
	margin: 48px 0 24px;
}

.section__keyword {
	display: inline-block;
	font-weight: bold;
	text-transform: uppercase;
	line-height: 1;
}

.section__keyword + .section__item {
	width: auto;
	float: right;
	padding-right: 0;
}

.section__img {
	width: 70%;
}

.section__item.view {
	position: relative;
	z-index: -1;
	width: 100%;
	height: 300px;
	margin: -64px 0 0;
	overflow: hidden;
	background: #F7F7F5;
}
/*
.section__view::before {
	content: "";
	position: absolute;
	background: #F7F7F5;
	top: 0;
	bottom: 0;
	right: 0;
	left: 0;
	z-index: -1;
	width: auto;
	margin-left: calc(((100vw - 100%) / 2) * -1);
	margin-right: calc(((100vw - 100%) / 2) * -1);
}*/

.view img {
	position: absolute;
	top: 50%;
	transform: translateY(-50%);
	width: 100%;
}

/********box*******/
.box {
	position: relative;
	border-radius: 8px;
	overflow: hidden;
	box-shadow: 4px 4px 8px rgb(226, 219, 212);
}

.box::before {
	content: "";
	box-shadow: -4px -4px 8px rgb(249 244 239 / 1);
}

.box__title {
	padding: 26px 16px 10px;
	background: var(--txt-clr);
	color: #FFF;
	font-size: 15px;
	text-align: center;
}

.box__text {
	padding: 15px;
	background: #FFF;
	font-size: 12px;
	font-weight: normal;
	
}

.box__tip {
	position: absolute;
	top: 0px;
	left: 50%;
	transform: translateX(-50%);
	font-size: 10px;
	padding: 10px 0 0;
}

/********process********/
.process {
	position: relative;
	counter-reset: num;
	list-style-type: none;
}

.process::before {
	content: "";
	display: block;
	position: absolute;
	height: 2px;
	top: 20px;
	left: 40px;
	right: 40px;
	z-index: 0;
	background: var(--primary-clr);
}

.process__list {
	position: relative;
	padding: 40px 40px 0;
}

.process__list::after {
	counter-increment: num;
	content: counter(num);
	display: block;
	position: absolute;
	top: 0;
	left: 32px;
	height: 44px;
	width: 44px;
	z-index: 1;
	border: 2px solid var(--primary-clr);
	border-radius: 50%;
	background: #FFF;
	color: var(--primary-clr);
	font-size: 20px;
	text-align: center;
	line-height: 42px;
	letter-spacing: normal;
}

.process__list .text {
	padding-top: 8px;
}

.process__box {
	margin: 24px auto 0;
	max-width: 400px;
}

.mockup {
	position: relative;
	margin: 24px auto 0;
	width: 220px;
	height: 440px;
	padding: 12px;
	border-radius: 2em;
	box-shadow: 4px 4px 16px rgb(226, 219, 212);
	background: url(../images/img_mockup.svg) no-repeat;
	background-size: contain;
}

.mockup__inner {
	position: absolute;
	top: 45px;
	left: 12px;
	width: 194px;
	height: 340px;
	overflow: hidden;
}

.mockup__figure {
	overflow-y: scroll;
	width: calc(100% + 17px);
	height: 400px;
}

.mockup__img {
	width: calc(100% - 17px);
}

_:-ms-lang(x)::-ms-backdrop, .mockup__img {
	width: 100%;
}

@-moz-document url-prefix() {
	.mockup__img {
		width: 100%;
	}
}

/********scene********/
.scene {
	display: table;
	height: 40px;
	margin: 16px auto 48px;
	overflow: hidden;
	border-radius: 8px;
	font-weight: bold;
}

.scene__dt,
.scene__dd {
	display: table-cell;
	vertical-align: middle;
	line-height: 1;
}

.scene__dt {
	padding: 0 16px;
	background: var(--primary-clr);
	color: #FFF;
	font-size: 0;
	text-align: center;
	text-transform: uppercase;
	white-space: nowrap;
}

.scene__dt::after {
	content:attr(data-label);
	font-size: 14px;
}

.scene__dd {
	padding: 0 24px;
	background: var(--sub-background-clr);
	color: var(--primary-clr);
}

/********terms********/
.terms {
	margin: 0 -12px;
	font-size: 0;
	letter-spacing: normal;
	text-align: center;
}

.terms__group {
	display: inline-block;
	width: 50%;
	max-width: 200px;
	padding: 8px 12px;
	vertical-align: top;
}

.terms__dt img {
	width: 100%;
}

.terms__dt::after {
	font-size: 13px;
	color: var(--primary-clr);
}

.terms__dt::before {
	content: "";
	display: block;
	width: 100%;
	height: 100%;
	background-repeat: no-repeat;
	background-position: center;
	justify-content: center;
	
}

[data-label="color"]::before {
	background: url("../images/img_color.svg");
}

.terms__dd {
	padding-top: 4px;
	font-size: 12px;
	font-weight: normal;
}

/********work********/
.section__item.work {
	margin-top: 24px;
}

.work__group {
	display: table;
	padding-bottom: 8px;
	color: var(--sub-txt-clr);
	font-size: 13px;
}

.work__dt,
.work__dd {
	display: table-cell;
	vertical-align: top;
}

.work__dt {
	width: 80px;
}

.section__work .work__dt {
	color: var(--primary-clr);
	font-size: 16px;
	width: 100px;
}

.section__work .work__group:last-of-type {
	padding-bottom: 0;
}

/********sitemap********/
.sitemap {
	display: flex;
	justify-content: flex-end;
	align-items: flex-end;
	padding: 24px 0;
}

.sitemap__url {
	position: relative;
	padding: 8px 16px 8px 64px;
	color: var(--txt-clr);
	font-size: 18px;
	font-weight: bold;
}

.sitemap__url::before {
	content: "";
	display: block;
	position: absolute;
	top: 0;
	left: 0;
	background-repeat: no-repeat;
	background-size: contain;
	width: 56px;
	height: 56px;
	filter: drop-shadow(0 0 1px rgb(226, 219, 212));
}

.sitemap__url_fanmily::before {
	background-image: url("../images/Icon_fanmily.svg");
}

.sitemap__url_chekicha::before {
	background-image: url("../images/icon_chekicha.svg");
}

.sitemap__url::after {
	content: attr(href);
	display: block;
	font-size: 12px;
	font-weight: normal;
}

.sitemap__qr {
	display: block;
	width: 80px;
}

/***************************
		footer
***************************/
.footer {
	position: relative;
	background: var(--background-clr);
}

.footer__inner {
	margin: 0 auto;
	max-width: 880px;
	padding: 16px 24px;
}

.footer-nav {
	list-style: none;
	display: flex;
	justify-content: flex-end;
	width: 100%;
	margin-top: 10px;
	font-size: 13px;
	font-weight: bold;
}

.footer-nav__item  {
	line-height: 1;
	padding-right: 1em;
}

.footer-nav li+li {
	padding-left: 1em;
	border-left: 1px solid var(--accent-clr);
}

.footer-nav__item a {
	color: var(--accent-clr);
}

.footer__copy {
	text-align: right;
	padding: 1em;
	color: var(--accent-clr);
	opacity: .7;
	font-size: 12px;
}

/***************************
		responsive
***************************/
@media (max-width: 959px) {
	.section__keyword {
		margin: .25em 0 .5em;
	}
	
	.section__keyword + .section__item {
		float: none;
	}
	
	.process::before {
		display: none;
	}
	
	.process__list {
		padding: 0 16px 16px;
		text-align: center;
	}
	
	.process__list::after {
		top: 56px;
		left: 50%;
		transform: translateX(-50%);
	}
	
	.process__list.message[data-keyword]::before {
		margin: 0 0 72px;
	}
}
@media (max-width: 559px) {
	.hero {
		height: 90vh;
	}
	
	.hero__img {
		object-fit: cover;
		font-family: 'object-fit: cover;';
	}
	
	.section {
		padding: 0 0 5em;
	}
	
	.top-scroll {
		top: -32px;
		right: auto;
		margin: 0 auto;
	}
	
	.top-scroll + .section {
		margin-top: -5em;
		padding-top: 3em;
	}
	
	.top-scroll + .section::before,
	.section__container:last-of-type::after {
		border-bottom-width: 5em;
	}
	
	.section__container::before {
		border-top-width: 5em;
	}
	
	.section__wrapper {
		padding-top: 24px;
		text-align: center;
	}
	
	.section__inner {
		padding: 24px 16px;
	}
	
	#value .section__inner,
	#process .section__inner {
		text-align: center;
	}
	
	.section__content > .section__inner {
		padding-top: 0;
	}
	
	.section__container {
		margin-top: -5em;
	}
	
	#value .section__card {
		padding: 0;
		box-shadow: none;
	}
	
	#value .section__card::before {
		display: none;
	}
	
	.section__card_liquid {
		margin: 0 16px;
		padding: 16px 0;
	}
	
	.section__card_liquid::before {
		content: "";
		box-shadow: -4px -4px 8px rgb(244, 240, 237);
	}
	
	.section__group {
		position: relative;
		margin-bottom: 16px;
		padding: 16px 20px 24px;
		border-bottom: none;
		border-radius: 1em;
		box-shadow: 4px 4px 8px rgb(226, 219, 212);
	}
	
	.section__group::before {
		content: "";
		display: block;
		position: absolute;
		top: 0;
		right: 0;
		left: 0;
		bottom: 0;
		z-index: -1;
		border-radius: 1em;
		box-shadow: -4px -4px 8px rgb(255, 255, 255);
	}
	
	#works .section__group::before {
		box-shadow: -4px -4px 8px rgb(244, 240, 237);
	}
	
	.section__item {
		width: 100%;
		padding-right: 0;
	}
	
	.section__description {
		text-align: center;
		margin-bottom: 32px;
	}
	
	.section__item .section__description {
		margin: 32px 0;
	}
	
	#works .section__group:nth-of-type(2) .section__figure img {
		padding-top: 2em;
	}
	
	.section__figure {
		width: 100%;
		float: none;
	}
	
	.section__figure_mockup {
		margin-bottom: 2em;
		padding-top: 90%;
	}
	
	.section__figure img {
		padding: 0 3em 2em;
	}
	
	.section__titile img {
		margin: auto;
	}
	
	.section__figure_thin img {
		padding-left: 4em;
		padding-right: 4em;
	}
	
	.section__work {
		margin-top: 8px;
	}
	
	.section__figure + .section__item.work {
		margin-top: 0;
	}
	
	.section__item.view {
		margin: 16px 0 0;
		height: 200px;
	}
	
	.message[data-keyword="アイコン"],
	.message[data-keyword="アイコン"]::before {
		margin-bottom: 0;
		padding-bottom: 0;
	}
	
	.sitemap {
		justify-content: center;
	}
	
	.sp-hidden {
		display: none;
	}
}

@media (max-width: 360px) {
	.scene {
		margin-right: 16px;
		margin-left: 16px;
	}
	
	.scene__dd {
		padding-right: 16px;
		padding-left: 16px;
	}
}